@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply mx-auto px-3 w-full sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px]  xl:max-w-[1170px]  2xl:max-w-[1320px];
    }

    .form-label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white ;
    }

    .form-control {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
    }
}

/* .header{
    background-color: #7E33E0;
    color:white;
    padding-top: 14px;
    padding-bottom: 14px;
} */
.track {
    border: 1px solid red !important;
}

/* .container{
    padding-left: .75rem;
    padding-right: .75rem;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media(min-width:768px){
    .container{
        max-width: 720px;
    }
} */

.logo__text {
}

/* .products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1024px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
} */

/* :root{
    --primary-color:purple
}

.btn{
    background-color: var(--primary-color);
} */
